@for (line of entryFormat(); track line) {
  <div class="d-flex flex-row flex-fill w-100">
    @for (key of Object.keys(line); track key) {
      <div class="d-flex flex-row line"
           [ngClass]=""
           [class.flex-grow-1]="line[key].type.includes('text')">
        @if (line[key].caption; as caption) {
          <span class="align-self-end">{{ caption }}</span>
        }
        @switch (line[key].type) {
          @case ('text') {
            <input type="text">
          }
          @case ('multiline-text') {
            <input type="text">
          }
          @case ('number') {
            <input type="number">
          }
          @case ('checkbox') {
            <input type="checkbox">
          }
          @case ('condition') {
            <srg-tracker [type]="'condition'"/>
          }
          @case ('difficulty') {
            <srg-tracker [type]="'difficulty'"/>
          }
        }
      </div>
    }
</div>
}
