.line {
  margin: 0 0.1rem;
  width: fit-content;

  span {
    height: fit-content;
    font-size: xx-small;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1px;
  }

  input, .condition, .difficulty {
    flex: 1;
    display: block;
    width: 100%;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input[type=checkbox] {
    width: 0.6rem;
  }
  input[type=text], input[type=number] {
    min-width: 1.5rem;
    font-size: 10pt;
    border: none;
    border-bottom: darkgrey 1px dotted;
  }
  input[type=number] {
    max-width: 1.5rem;
    text-align: center;
    -moz-appearance: textfield; /* Firefox */
  }
}
