<div #navigation class="d-none d-sm-flex flex-column p-2 border navigation">
  <div class="d-flex flex-column mb-3 navigation-header" (click)="router.navigate([''])">
    <img src="assets/img/shadowrun-logo.svg" alt=""/>
    <h5>Shadowrun Genesys</h5>
  </div>
  <div class="d-flex flex-column justify-content-between navigation-content">
    <div class="d-flex flex-column">
      @if (routes(); as routes) {
        @for (key of Object.keys(routes); track key) {
          @if (routes[key]; as route) {
            @if (route.display_name !== '' && viewableRoutes()?.includes(key)) {
              <div class="d-flex flex-row justify-content-between">
                <a href="javascript:void(0)"
                   (click)="selectedRoute() !== key ? router.navigate(['/', key]) : undefined"
                   class="w-100" [class.selected]="selectedRoute() == key"
                   [style]="route.depth !== undefined && route.depth > 1 ?
                    'margin-left: ' + ((route.depth - 1) * 0.5) + 'rem; '
                    + 'padding-left: ' + (0.5 + 'rem;') : ''">{{ routes[key].display_name }}</a>
                @if (route.children) {
                  <a href="javascript:void(0)" 
                    [class.expanded]="expandedParents()?.includes(key)"
                    (click)="!expandedParents()?.includes(key) ? expandNavigation(key) : retractNavigation(key)">&#10095;</a>
                }
              </div>
            }
          }
        }
      }
    </div>
    <div class="d-flex flex-column">
      <a href="javascript:void(0)" (click)="openInNewWindow('character-sheet')">Character Sheet</a>
      <a download="srg_cs.pdf" href="assets/resources/srg_cs.pdf">Download Character Sheet</a>
      <!-- TODO TBD -->
      <!--a href="javascript:void(0)" (click)="openInNewWindow('gm-tools')">Gamemasters' Tools</a-->
    </div>
  </div>
</div>
<button #navigationToggler class="d-block d-sm-none p-4 navigation-toggler text-start"
        (click)="toggleNavbar()">
  <span>&#8801;</span>
</button>

<div class="loading-spinner" [hidden]="!contentLoading()"></div>

<div #main class="d-flex flex-column main p-4"
     (click)="!navigation.classList.contains('d-none') ? toggleNavbar() : undefined">
  <div class="d-flex flex-row main-header">
    <h1>{{ title() }}</h1>
  </div>
  <div #contentWrapper class="content" [innerHTML]="content()"></div>
</div>
