table {
  font-size: 8pt;

  tr {
    th {
      text-transform: uppercase;
      color: darkred;
    }

    th:not(:nth-child(2)) {
      text-align: center;
    }

    td:nth-child(2) {
      span:first-child {
        text-transform: uppercase;
        text-wrap: nowrap;
      }

      .bottom-line {
        border-bottom: 1px dotted darkgrey;
      }
    }

    td:nth-child(3) {
      text-transform: uppercase;
    }

    td:nth-child(4) {
      min-width: 4rem;
    }

    input[type=checkbox] {
      width: 7px;
      aspect-ratio: 1 / 1;
      margin-right: 0.25rem;
    }

    input[type=number], input[type=text] {
      font-size: 8pt;
      font-family: 'Papernotes', sans-serif;
      border: none;
      border-bottom: 1px dotted darkgrey;
      width: calc(100% + 4px);
      text-transform: uppercase;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      /* <-- Apparently some margin are still there even though it's hidden */
    }
    input[type=number] {
      max-width: 1.5rem;
      text-align: center;
      -moz-appearance: textfield;
      /* Firefox */
    }
  }
}
