:root {
  --color-setback-dice: black;
  --color-boost-dice: cornflowerblue;
  /* HSL for conversion to lighter colors in character sheet */
  --color-difficulty-dice-h: 270;
  --color-difficulty-dice-s: 50%;
  --color-difficulty-dice-l: 40%;
  --color-difficulty-dice: hsl(var(--color-difficulty-dice-h),
                               var(--color-difficulty-dice-s),
                               var(--color-difficulty-dice-l));
  --color-ability-dice: forestgreen;
  --color-challenge-dice: firebrick;
  --color-proficiency-dice: gold;
  --color-power-dice: whitesmoke;
}

@font-face {
  font-family: GenesysGlyphsAndDice;
  src: url('./assets/fonts/genesys_glyphs_and_dice-3.0.ttf')
}
@font-face {
  font-family: 'Friz Quadrata Regular';
  src: url('./assets/fonts/friz-quadrata-regular-os.ttf');
}
@font-face {
  font-family: 'Papernotes';
  src: url('./assets/fonts/papernotes.otf');
}

body, html {
  font-family: 'Friz Quadrata Regular', sans-serif;
}

.w-33 {
  width: 33%;
}
.w-20 {
  width: 20%;
}
.w-16 {
  width: 16%;
}

.flex-grow-2 {
  flex-grow: 2; !important;
}
.flex-grow-3 {
  flex-grow: 3; !important;
}
