.tracker {
  width: 5px;
  margin: 8px 1px 0 1px;
  min-width: 0.6rem;

  &.condition {
    border: darkgrey 1px solid;

    &.clicked {
      background-color: lightgrey;
    }
  }

  &.difficulty {
    font-family: GenesysGlyphsAndDice;
    color: white;
    -webkit-text-stroke: 1px darkgrey;

    &.clicked {
      background-color: var(--color-difficulty-dice);
    }
  }
}
